body{
    background-color: rgb(255, 255, 255);
}

.navbar-brand{
    color: rgb(217, 166, 72) !important;
    margin-left: 10%;
}
.y{
    background-color: #0fd9f8;
    color: rgb(45, 45, 45);
}

.bgc{
    background-color: #b0fff5;
    color: rgb(45, 45, 45);
    margin-bottom: 5%;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.portfolio-item img:hover {
    transform: scale(1.05);
}

.portfolio-item{
    padding-left: 3%;
    padding-right: 3%;
}

.borda{
    border: 20% !important;
    border-width: 20%;
    border-color: white;
    border-style: solid;
}

.myWork{
    background-color: rgb(246, 246, 246);
    /* border: 5%;
    border-style: solid;
    border-color: rgb(246, 246, 246); */
    align-content: center;
}

.resize {
    width: 150px;
    height: 150px;
}